<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
        <link rel="stylesheet" href="css/semantic.css"  media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" src="js/vue1.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <style type="text/css">
            body {
            background-color: #FDFDFD;
            }
            .ui.very.padded.segment.container {
            width: 500px;
            position: relative;
            transform: translate(0,-50%);
            top:30%;
            }
            .remove.icon {
            color: #EAEBEB;
            }
            .ui.very.padded.container {
            width: 500px;
            }
            p{

            }
        </style>
    </head>
    <body id="app">
        <div class="ui very padded container">
            <div class="ui text menu">
                <div class="header item" style="font-size:20px;">
                    <i class="checkmark box icon"></i>
                    麻瓜 To Do
                </div>
            </div>
            <div class="ui divider">
        </div>


        </div>
        <div class="ui very padded segment container">
            <div class="ui action fluid input">
                <input v-model="newmessage" type="text" placeholder="添加新任务">
                <button class="ui icon basic button" v-on:click="Addlist(newmessage)">
                    <i class="plus icon" style="color:#666666"></i>
                </button>
            </div>

            <div v-for = "list in todolist" class="ui relaxed divided list">

                <div class="item" v-if = list.show>
                    <div class="right floated content">
                        <i class="remove icon" v-on:click="list.show=!list.show"></i>
                    </div>
                    <p style="font-size:14px;" v-on:click="list.co=!list.co" v-if="list.co">{{list.listname}}</p>
                    <p style="font-size:14px;" v-on:click="list.co=!list.co" v-else><s>{{list.listname}}</s></p>
                </div>

            </div>
        </div>

        <script>
            var vm = new Vue({
              el:"#app",
              data:{
                  todolist:[
                      {listname:"整理明日计划",co:"true",show:"true"},
                      {listname:"修改Bug",co:"true",show:"true"},
                      {listname:"提交全栈课程的作业",co:"true",show:"true"},
                      {listname:"分享学习笔记",co:"true",show:"true"}
                  ]
              },
              methods:{
                  Addlist:function(message){
                      if (message == ""){
                          alert("不要提交空内容额")
                      }
                      else{
                          this.todolist.push({listname:message,co:"true",show:"true"})
                    }

                  }

              }
        })

        </script>

    </body>
</html>
